Зарядка от динамо

Бортовой накопитель энергии, в ходе движения заряжается от динамки, умеет
отдавать питание на гаджеты через USB. Должен автоматически переходить в
режим ожидания при отсутствии потребления по выходу. Отбирает оптимальную
мощность с динамки (исследовать дополнительно, предварительно так при
токе 500 мА). Есть внешний разъём для зарядки по USB. Не должно мешать работе
фары (либо автодетект, либо ручное отключение, либо питание фары от
устройства). Динамически балансирует поступающую энергию от динамки между
батареей и выходом устройства (излишек — в батарею, недостаток —
компенсируется из батареи).

Для уменьшения износа батареи зарядка должна включаться после превышения
некоторого порога скорости в течение определённого времени.

Для настройки пороговых значений и снятия статистики — BLE интерфейс.


Питание — динамка или USB.
На борту буферный аккумулятор.
Выход — 2 USB A, 2.1 A DCP порты.


Соединения:
- вход от динамо
- USB Type-C для зарядки, опционально OTG, соединение данных
- USB A, 2 шт.
- 6V для фары?

Индикация:
- питание от динамо
- питание от USB
- состояние батареи (текущий заряд, зарядка)
- питание потребителей (активность по выходу)

Управление (механическое):
- вкл выхода?

Связь: BLE, опционально USB

Настройки:
- диаметр колеса?
- порог скорости для начала зарядки
- задержка начала зарядки
- время
- лимит тока от динамо
- интервал снятия статистики

Статистика:
- ток, потребляемый от динамо
- напряжение от динамо
- скорость
- напряжение батареи
- ток батареи
- напряжение выхода (до преобразователя в 5В)
- ток выхода

